
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<style>
    .table-wrapper {
        margin-top: 50px;
    }

    .player-img {
        width: 40px;
        height: 40px;
    }
    textarea {
      height: 500px;
    }
    input, textarea {

                width: 100%;
                background-color : #000000;
                color: #ffffff; 

            }       
    .add-player-form {
        margin-top: 50px;
    }
</style>
    <!--adding bootstrap vapòr-->
    
    <link rel="stylesheet" href="/stylesheets/css/bootstrap.4.4.0.min.css" />
    
<a href="/file/checkData/" target="_parent"  class="btn btn-sm btn-success float-right">Check files registred data</a>
<a href="/file/files/" target="_parent"  class="btn btn-sm btn-success float-right">Show available files list</a>
<a href="/links/links-list/" target="_parent"  class="btn btn-sm btn-success float-right">Links list</a>
<a href="/read/" target="_parent"  class="btn btn-sm btn-success float-right">Datatable listing</a>
<a href="/form/" target="_parent"  class="btn btn-sm btn-success float-right">Add a new record</a>