<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
    <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header"> <a class="navbar-brand" href="/">Ref Search</a>

                </div>
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/form/" target="_parent"  class="btn btn-sm btn-success float-right">Add a new record</a> 
                    </li>
                </ul>
                <ul class="nav nav-pills nav-stacked">
                    <li class="active">
                        <a href="/links/links-list/" target="_parent"  class="btn btn-sm btn-warning float-right">Links list</a>
                    </li>
                    <li>
                        <a href="/file/checkData/" target="_parent"  class="btn btn-sm btn-dark float-right">Check files registred data</a>
                    </li>
                    <li>
                        <a href="/file/files/" target="_parent"  class="btn btn-sm btn-info float-right">Show available files list</a>
                    </li>
                    <li>
                        <a href="/read/" target="_parent"  class="btn btn-sm btn-danger float-right">Datatable listing</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <a href="/register"><span class="glyphicon glyphicon-user "></span> Sign Up</a>
                    </li>
                    <li class="">
                        <a href="/login"><span class="glyphicon glyphicon-log-in "></span> Login</a>
                    </li>
                </ul>
            </div>
        </nav>   
    <% include partials/address_port_value.ejs %>
        <!--====form section start====-->
        <div class="user-detail">
            <h2>
                Create keyword Data
            </h2>
            <form action="/keywords/create" method="POST">
                <label>keyword</label>
                <input type="text" placeholder="Enter keyword " name="keyword" required>
                <label>link</label>
                <input type="text" placeholder="Enter link " name="link" >
                <label>title</label>
                <input type="text" placeholder="Enter title " name="title" >
                <label>description</label>
                <input type="text" placeholder="Enter description " name="description" >
                <button type="submit">Submit</button>
            </div>
        </div>
        <!--====form section start====-->
    </body>
</html>
