<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="/javascripts/js/jquery-ui-1.12.1/external/jquery/jquery.js"></script>
        <script src="/javascripts/js/jquery-ui-1.12.1/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/javascripts/js/DataTables/datatables.min.js"></script>
        <script type="text/javascript" src="/javascripts/js/jquery.mark.min.js"></script>
        <!-- Plugin -->
        <script src="/javascripts/js/DataTables/jquery.dataTables.colResize.js"></script>
        <!-- <script>
        6
    </script>
    <script type="text/javascript" src="/javascripts/js/ajax-script.js"></script>
    <script type="text/javascript" src="/javascripts/js/autocomplete.js"></script>
    --> 
    <script src="/crud_table.js"></script>
    <script src="/main.js"></script>
    <link rel="stylesheet" href="/javascripts/js/jquery-ui-1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="/javascripts/js/jquery-ui-1.12.1/jquery-ui.theme.css">
    <link rel="stylesheet" href="/javascripts/js/jquery-ui-1.12.1/jquery-ui.theme.min.css">
    <link rel="stylesheet" href="/javascripts/js/jquery-ui-1.12.1/jquery-ui.structure.css">
    <link rel="stylesheet" href="/javascripts/js/jquery-ui-1.12.1/jquery-ui.structure.min.css">
    <link rel="stylesheet" type="/javascripts/js/DataTables/datatables.min.css"/>
    <link rel="stylesheet" href="/javascripts/js/DataTables/jquery.dataTables.colResize.css">
     <!--adding bootstrap vapòr-->
    <link rel="stylesheet" href="/stylesheets/css/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/css/bootstrap.4.4.0.min.css" />
    <link rel="stylesheet" href="/stylesheets/css/main.css" />
</head>
<body>
    <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header"> <a class="navbar-brand" href="/">Ref Search</a>

                </div>
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/form/" target="_parent"  class="btn btn-sm btn-success float-right">Add a new record</a> 
                    </li>
                </ul>
                <ul class="nav nav-pills nav-stacked">
                    <li class="active">
                        <a href="/links/links-list/" target="_parent"  class="btn btn-sm btn-warning float-right">Links list</a>
                    </li>
                    <li>
                        <a href="/file/checkData/" target="_parent"  class="btn btn-sm btn-dark float-right">Check files registred data</a>
                    </li>
                    <li>
                        <a href="/file/files/" target="_parent"  class="btn btn-sm btn-info float-right">Show available files list</a>
                    </li>
                    <li>
                        <a href="/read/" target="_parent"  class="btn btn-sm btn-danger float-right">Datatable listing</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <a href="/register"><span class="glyphicon glyphicon-user "></span> Sign Up</a>
                    </li>
                    <li class="">
                        <a href="/login"><span class="glyphicon glyphicon-log-in "></span> Login</a>
                    </li>
                </ul>
            </div>
        </nav>
    <% include partials/address_port_value.ejs %>
        <div class="login-form">
            <h3>
                Login Form
            </h3>
            <p>
                <%=(typeof alertMsg!='undefined')? alertMsg:''%>
                </p>
                <form method="post" action="/login">
                    <input type="email" placeholder="Email Address" name="email_address" required">
                    <input type="password" placeholder="Password" name="password" required">
                    <button type="submit">Login Now</button>
                    <a href="/register">New Registration</a> 
                </div>
            </form>
        </div>
    </body>
</html>
